/* Write your CSS here */
.card {
  padding: 30px;
}
.card2 {
  display: flex;
}
.img {
  height: 250px;
  margin: 30px 50px;
}
.input {
  height: 27px;
  width: 228px;
  padding: 0px 10px;

  margin: 15px 0px;
}
.btn {
  color: white;
  background-color: #0284c7;
  padding: 5px 10px;
  border-width: 0px;
  border-radius: 3px;
  margin: 10px 0px;
}
.comment-card {
  display: flex;
}
.box {
  background-color: #0284c7;
  height: 25px;
  width: 25px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin-right: 10px;
}
